*.rar
*.zip
*.bak
*.ignore
*.old
*.tar.gz
[Tt]ranscript*/
Archive[sd]/*
[Ss]orted/*
test-ADAccount/
oh-my-posh/*
posh-git/*
*.swp
dbatools/*
Update-ADHash/*
Import-ModuleExchange/
Microsoft.SharePoint.MigrationTool.PowerShell/*
