*.rar
*.zip
*.bak
*.ignore
*.old
[Tt]ranscripts/
[Tt]ranscript*/
[Aa]rchive[sd]/
[Ss]orted/
*posh*
Import-ModuleExchange/
test-ADAccount/
oh-my-posh/2.0.207
oh-my-posh/*
posh-git/
posh-git/*
*.swp
dbatools/
dbatools/*
[uU]pdate-[aA][dD][hH]ash/
[uU]pdate-[aA][dD][hH]ash/*
